.button {
  background: rgba(194, 194, 194, 0.2);
  border: 2px solid var(--accent-color);
  font-size: 13pt;
  cursor: pointer;
  color: var(--accent-color);
}

.button-main {
  margin-bottom: 160px;
  padding: 5px 12px;
}

.button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 600;
  /*transition: 0.5s;*/
}

.button:hover .arrow{
  border-color: var(--secondary-color)!important;
  color: var(--secondary-color)!important;
  font-weight: bold;
  transform: rotate( 90deg);
  transition: 0.5s;
}

.arrow {
  transition: all .5s;
  margin-left: 10px;
  font-size: 13px;
}

.button-down {
  border-radius: 50%;
  width: fit-content;
  padding: 7px 10px;
  position: absolute;
  bottom: 10px;
}

.arrow-down {
  transition: all .5s;
  font-size: 30px;
}

.button:hover .arrow-down{
  /*background-color: rgba(251, 232, 153, 1);*/
  border-color: rgba(251, 232, 153, 1);
  color: black;
  font-weight: bold;
}

.button:hover .arrow{
  /*background-color: rgba(251, 232, 153, 1);*/
  border-color: rgba(251, 232, 153, 1);
  color: black;
  font-weight: bold;
  transform: rotate( 90deg);
}

.custom-btn {
  align-items: center;
  justify-items: center;
  font-size:  0.8em;
  width: 140px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-main {
  background: linear-gradient(0deg, var(--accent-color) 0%, rgba(126, 37, 31, 1) 100%);
  border: none;
}
.btn-main:hover {
  background: linear-gradient(0deg, rgba(100, 11, 6, 1) 0%, rgba(100, 11, 6, 1) 100%);
}

@media screen and (max-width: 600px) {
  .about-btn{
    margin-top: 10px;
    font-size: 12px;
    padding: 4px 8px;
    height: 30px;
  }
}