nav {
  color: white;
  bottom: -50px;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: black;
  border-bottom: 3px solid rgba(251, 232, 153, 1);
  text-align: left;
  z-index: 99;
}

.link-wrap {
  display: flex;
  /*flex-direction: row;*/
  max-width: 1200px;
  width: 100%;
  text-align: left;
}

.page-link {
  margin: 0 20px;
  transition: .3s;
}

.page-link:hover {
  color: rgba(211, 129, 56, 1);
  cursor: pointer;
}

.active {
  color: rgba(211, 129, 56, 1);
}
