nav {
  color: white;
  bottom: -50px;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: black;
  border-bottom: 3px solid rgba(251, 232, 153, 1);
  text-align: left;
  z-index: 99;
}

.nav-menu {
  display: flex;
  flex-direction: row;

  background-color: grey;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  height: 0;
  color: white;
  background: #333;
  transition: height 0.3s ease-out;
  width: 100%;
}

.page-link {
  margin: 0 20px;
  transition: .3s;
}

.page-link:hover {
  color: rgba(211, 129, 56, 1);
  cursor: pointer;
}

.active {
  color: rgba(211, 129, 56, 1);
}

@media screen and (min-width: 600px) {
  nav .fa-bars {
    display: none;
  }
  .nav-menu {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
    transition: height 0.3s ease-out;
  }
}

.fa-bars {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}

.fixed {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav .fixed .animate {
  animation: popDown 3  s
}

.active {
  color: rgba(211, 129, 56, 1);
}
