nav {
  color: white;
  bottom: -53px;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: var(--main-color);
  border-bottom: 3px solid var(--secondary-color);
  text-align: left;
  z-index: 99;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  height: 0;
  color: white;
  width: 100%;
}

.page-link {
  margin: 0 20px;
  transition: .2s;
  height:  53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--secondary-color)
}

.page-link:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.active {
  /*font-size: 1.1em;*/
  transition: .2s;
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

@media screen and (min-width: 600px) {
  nav .fa-bars {
    display: none;
  }
  .nav-menu {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
    transition: height 0.3s ease-out;
  }
}

.fa-bars {
  font-size: 1.5em;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}

.fixed {
  bottom: inherit;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
