.section {
/*  border: 1px solid green;*/
  min-height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 25px;
}

section .container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}

/*--------------------HOME--------------------*/


/*---------------------ABOUT--------=-------------*/

/*--------------------PROJECTS--------------------*/




















/*--------------------CONTACT------------=--------*/
#contact {

}

